/* CSS Document */
body{
	background:url(images/bg.gif) repeat-x 0 0 #FFFCF5; color:#616161;
	font:normal 12px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0; padding:0;}
div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li, p, a{
	margin:0; padding:0;}
ul{
	list-style:none;}
.spacer{
	font-size:0; line-height:0; clear:both;}

/* -- main container start -- */
#mainContainer{
	width:778px; margin:0 auto;
	background:url(images/page_top_bg.gif) no-repeat 0 0 #FFFCF5; color:#616161;}
/* -- main container end -- */
/* -- header start -- */
#header{
	width:778px; height:229px; margin:0 auto; position:relative;}
#header img{
	border:none; position:absolute; left:53px; top:86px;}
#header ul{
	position:absolute; left:48px; top:161px;}
#header ul li{
	height:31px; padding:0 10px; float:left;}
#header ul li a{
	font:bold 11px/31px Arial, Helvetica, sans-serif; color:#3A3A3A;
	background-color:#FFFFFF; background-image:none; display:block;
	text-decoration:none;}
#header ul li a:hover{
	font:bold 11px/31px Arial, Helvetica, sans-serif; color:#910010;
	background:url(images/top_btn_h.gif) repeat-x 0 28px #FFFFFF; display:block;
	text-decoration:none;}
#header ul li a.hover{
	font:bold 11px/31px Arial, Helvetica, sans-serif; color:#910010;
	background:url(images/top_btn_h.gif) repeat-x 0 28px #FFFFFF; display:block;
	text-decoration:none;}
/* -- header end -- */
/* -- body start -- */
#body{
	width:702px; margin:0 auto; padding:0 43px 0 33px;}
/* -- body end -- */
/* -- left pannel start -- */
 
#left{
	width:146px; margin:67px 0 0 0; padding:0; float:left; background-color:#F3ECD9; color:#A56100;}
#left span.leftTop{
	background:url(images/left_top_bg.gif) no-repeat 0 0 #FFFCF5; color:#A56100;
	height:15px; width:146px; display:block; line-height:0; font-size:0;}
#left span.leftBottom{
	background:url(images/left_bottom_bg.gif) no-repeat 0 0 #FFFCF5; color:#A56100;
	height:15px; width:146px; display:block; line-height:0; font-size:0; margin:25px 0 0 0;}
#left form{
	padding:0 13px 25px 11px; width:120px;}
#left form h2.login{
	background:url(images/login_bg.gif) no-repeat 0 0 #F3ECD9; color:#1A1A1A;
	width:91px; height:23px; padding:0 0 0 31px;
	font:bold 14px/23px Georgia, "Times New Roman", Times, serif;}
#left form h2.contact{
	background:url(images/contact_bg.gif) no-repeat 0 0 #F3ECD9; color:#1A1A1A;
	width:91px; height:23px; padding:0 0 0 31px;
	font:bold 14px/23px Georgia, "Times New Roman", Times, serif;}
#left form label{
	font:bold 11px/25px "Trebuchet MS", Arial, Helvetica, sans-serif; height:25px;
	color:#A56100; background-color:#F3ECD9; padding:0 0 0 2px;}
#left form input{
	font:normal 12px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:2px; width:116px; height:16px;
	color:#1A1A1A; background-color:#FFFFFF; border:#C0B497 1px solid;}
#left form textarea{
	font:normal 12px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:2px; margin:0 0 14px 0; width:116px; height:56px;
	color:#1A1A1A; background-color:#FFFFFF; border:#C0B497 1px solid;}
#left form p{
	padding:10px 0;}
#left form a{
	font:bold 10px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#4E8500; background-color:#F3ECD9;
	text-decoration:underline; text-transform:uppercase;}
#left form a:hover{
	font:bold 10px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#437201; background-color:#F3ECD9;
	text-decoration:none; text-transform:uppercase;}
#left form input.loginBtn{
	width:44px; height:11px; border:none; padding:0; float:right; margin:0;}
#left form input.submit{
	width:47px; height:11px; border:none; padding:0; float:right; margin:0 0 0 5px;}
#left form input.reset{
	width:47px; height:11px;border:none; padding:0; float:right; margin:0; cursor:pointer;
	background:url(images/reset_btn.gif) no-repeat 0 0 #F3ECD9; color:#FFFFFF; text-indent:-2000px;}
/* -- left pannel end -- */
/* -- midle start -- */
#midle{
	float:left; width:480px; padding:0 38px 46px;
	background:url(images/midle_bg.gif) no-repeat bottom left; color:#616161;}
.midleContainer{
	width:480px; background:url(images/midle_container_bg.gif) repeat-y 0 0 #FFFFFF; color:#616161;}
.midleContainer span.midleTop{
	background:url(images/midle_container_top_bg.gif) no-repeat 0 0 #FFFFFF;
	color:#616161;  height:20px; display:block; line-height:0; font-size:0;}
.midleContainer span.midleBottom{
	background:url(images/midle_container_bottom_bg.gif) no-repeat 0 0 #FFFFFF;
	color:#616161; height:32px; display:block; line-height:0; font-size:0;}
.midleContainer img{
	margin:0 21px 12px 21px; border:none;}
.midleContainer h2.welcome{
	background: no-repeat 0 0 #FFFFFF; height:44px; padding:0 0 0 53px; margin:0 21px;
	font:normal 24px/40px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#9E4900;}	
.midleContainer font.bibletxt{
	padding:0 0 0 2px; margin:0 2px;
	font:normal 12px/11px; color:#9E4900;}	
.midleContainer h2.event{
	background:url(images/event_bg.gif) no-repeat 0 0 #FFFFFF; height:44px; padding:0 0 0 53px; margin:0 21px;
	font:normal 20px/44px Georgia, "Times New Roman", Times, serif; color:#9E4900;}
.midleContainer p{
	margin:0 21px; background-color:#FFFFFF; color:#616161; padding:4px 0;
	font:normal 12px/15px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.midleContainer p span{
	background-color:#FFF4D3; color:#616161;}
.midleContainer p a.link{
	font:bold 10px/15px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#4E8500; text-decoration:underline;
	background:url(images/star.gif) no-repeat 0 3px #FFFFFF; padding:0 0 0 13px;}
.midleContainer p a.link:hover{
	font:bold 10px/15px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#437201; text-decoration:none;
	background:url(images/star.gif) no-repeat 0 3px #FFFFFF; padding:0 0 0 13px;}
.midleContainer p.divider{
	margin:15px 21px 23px; background:url(images/divider.gif) repeat-x 0 4px #FFFFFF; color:#000000;
	height:11px; line-height:0; font-size:0;}
.midleContainer p.divider a.more{
	background:url(images/more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:48px; height:11px; display:block; float:right;
	line-height:0; font-size:0; text-decoration:none; text-indent:-2000px;}
.midleContainer p.divider a.more:hover{
	background:url(images/more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:48px; height:11px; display:block; float:right;
	line-height:0; font-size:0; text-decoration:none; text-indent:-2000px;}
/* -- midle end -- */
/* right pannel start -- */
#right{
	width:146px; margin:67px 0 0 0; padding:0; float:left; background-color:#F3ECD9; color:#A56100;}
#right span.rightTop{
	background:url(images/left_top_bg.gif) no-repeat 0 0 #FFFCF5; color:#A56100;
	height:15px; width:146px; display:block; line-height:0; font-size:0;}
#right span.rightBottom{
	background:url(images/left_bottom_bg.gif) no-repeat 0 0 #FFFCF5; color:#A56100;
	height:15px; width:146px; display:block; line-height:0; font-size:0; margin:60px 0 0 0}
#right span.icon{
	background:url(images/r_bible3.jpg) no-repeat 0 0 #FFFCF5; color:#A56100;
	width:124px; height:102px; margin:0 10px; display:block;}
#right h2{
	background:url(images/right_h2_bg.gif) no-repeat 0 0 #F3ECD9; color:#000000;
	font:bold 14px/23px Georgia, "Times New Roman", Times, serif;
	padding:0 0 0 10px; width:112px; height:23px; margin:0 12px;}
#right ul{
	padding:14px 12px 10px 12px;}
#right ul li a{
	background:url(images/red_bullet.gif) no-repeat 11px 6px #F3ECD9; color:#897B56;
	font:bold 12px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
	height:17px; width:101px; padding:0 0 0 21px; display:block; }
#right ul li a:hover{
	background:url(images/right_link_bg.gif) no-repeat 0px 0px #F3ECD9; color:#897B56;
	font:bold 12px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;
	height:17px; width:101px; padding:0 0 0 21px; display:block; }
/* right pannel end -- */
/* footer start -- */
#footer{
	background:url(images/footer_bg.gif) repeat-x 0 0 #BAAD88; color:#000000;}
.footer{
	width:490px; height:130px; margin:0 auto; padding:20px 0 0 0;}
.footer ul{
	width:490px; margin:0 auto;}
.footer ul li{
	font:bold 11px/20px Arial, Helvetica, sans-serif;
	color:#FFFFFF; background-color:#BAAD88; float:left;}
.footer ul li a{
	font:bold 11px/20px Arial, Helvetica, sans-serif; text-decoration:none;
	color:#FFFFFF; background-color:#BAAD88; padding:0 8px;}
.footer ul li a:hover{
	font:bold 11px/20px Arial, Helvetica, sans-serif; text-decoration:none;
	color:#FFFFFF; background-color:#AB9E78; padding:0 8px;}
.footer p{
	margin:0 auto; width:180px;
	font:normal 11px/18px Arial, Helvetica, sans-serif;}
.footer p.valid{
	margin:0 auto; width:80px; }
.footer p.valid a.xhtml{
	background:url(images/xhtml_btn.gif) no-repeat 0 0 #BAAD88; color:#FFFFFF; margin:5px 0 8px 0px;
	text-decoration:none; text-indent:-2000px; width:44px; height:11px; display:block; float:left;}
.footer p.valid a.xhtml:hover{
	background:url(images/xhtml_btn_h.gif) no-repeat 0 0 #BAAD88; color:#FFFFFF; margin:5px 0 8px 0px;
	text-decoration:none; text-indent:-2000px; width:44px; height:11px; display:block; float:left;}
.footer p.valid a.css{
	background:url(images/css_btn.gif) no-repeat 0 0 #BAAD88; color:#FFFFFF; margin:5px 0 8px 4px;
	text-decoration:none; text-indent:-2000px; width:32px; height:11px; display:block; float:left;}
.footer p.valid a.css:hover{
	background:url(images/css_btn_h.gif) no-repeat 0 0 #BAAD88; color:#FFFFFF; margin:5px 0 8px 4px;
	text-decoration:none; text-indent:-2000px; width:32px; height:11px; display:block; float:left;}
.footer p.tworld{
	margin:0 auto; width:218px; height:17px;
	font:bold 11px/17px Arial, Helvetica, sans-serif; color:#FFFFFF;
	background-color:#B15200; text-align:center; text-transform:uppercase;}
.footer p.tworld a{
	font:bold 11px/17px Arial, Helvetica, sans-serif; color:#FFFFFF;
	background-color:#B15200; text-align:center; text-transform:uppercase; text-decoration:none;}
.footer p.tworld a:hover{
	font:bold 11px/17px Arial, Helvetica, sans-serif; color:#FCE3CE;
	background-color:#B15200; text-align:center; text-transform:uppercase; text-decoration:none;}
.footer ul.tworld {
   font:bold 11px/31px Arial, Helvetica, sans-serif; color:#3A3A3A;
	background-color:#FFFFFF; background-image:none; display:block; text-align:center;
	text-decoration:none;}	
/* footer end -- */
































